.register {
  text-align: center;
}
.register p {
  color: var(--text-color);
}

.register b {
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrap_form {
  display: inline-block;
  width: 40%;
  border-radius: 6px;
  background-color: var(--primary-color);
  filter: var(--shadow);
}
.wrap_form form {
  padding: 20px;
}
.wrap_form input {
  padding-left: 5px;
}
.wrap_form button {
  transition: transform 0.5s ease-in-out;
}
.wrap_form button:hover {
  transform: scale(1.1);
}
.password {
  display: flex;
}
.password input {
  width: 100%;
  padding-right: 40px;
}
.view_password {
  position: absolute;
  right: 10px;
  top: 57%;
  margin-right: 0.4em;
  transform: translateY(-50%);
  cursor: pointer;
}
@media (max-width: 769px) {
  .wrap_form {
    width: 70%;
  }
}
